@import url('./styles/index.css');
@import url('./styles/cv.css');
@import url('./styles/contacts.css');
@import url('./styles/gallery.css');
@import url('./styles/popup.css');
@import url('./styles/header.css');
@import url('./styles/footer.css');
@import url('./styles/menu.css');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

* {
    margin: 0;
}

ul {
    margin: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

input {
    width: 400px;
}

textarea {
    width: 400px;

}

label {
    width: 20%;
    margin-right: 20px;
}

a:hover {
    color: #92A4C6;
}

h1 {
    margin-top: 0px !important;
    margin-bottom: 50px !important;
}

h2 {
    line-height: 2em;
}

p {
    margin-top: 0px;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
    line-height: 1.5em;
    background-color: #141a16;
    color: #fff;
}

.main {
    width: 100%;
}

.main__flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.page__body {
    max-width: 1230px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.page {
    max-width: 1230px;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    flex-direction: row;
}

.active {
    color: #92A4C6;
}

.page__menu {
    font-size: 30px;
    width: 250px;
    margin-left: 20px;
    margin-right: 100px;
}

.page__content {
    width: 80%;
    margin-left: 20px;
    margin-right: 20px;
}

@media screen and (max-width: 1110px) {
    .main__flex {
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
}

@media screen and (max-width: 720px) {
    .page {
        display: block;
        flex-direction: column;
    }

    .page__content {
        width: 100%;
        margin: 0;
    }
}

@media screen and (max-width: 500px) {
    .main__flex {
        justify-content: flex-start;
        align-items: flex-start;
    }
}