.card__container {
    margin-top: 100px;
    width: 100%;
}

.card__descr {
    font-size: 16px;
    color: #f2f3f4;
}

.card {
    /* display: flex;
    flex-direction: column;
    max-width: 100%;
    max-width: 90vw;

    margin-left: auto; */
    /* margin-right: auto; */

    position: relative;
    margin-bottom: 70px;
}

.card__img_link {
    height: 580px;
    width: 500px;
    /* border: 1px solid red; */
}

.card__img {
    /*with crop*/
    /* height: calc(90vw*3/2);
    max-width: 90vw; */
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
    /* margin-left: auto;
    margin-right: auto; */

    /*without crop*/
    /* max-height: calc(90vw*3/2);
    max-width: 90vw; */
}

.card__text {
    margin-top: 20px;
    /* margin-left: 10px; */
    /* margin-left: 20px;
    margin-right: auto; */
    /* margin-bottom: 30px; */
    width: 250px;
    font-size: 16px;

    position: absolute;
    bottom: 0;
    left: 550px;
}

.card:hover {
    cursor: pointer;
}

.cards__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    justify-items: center;
    align-items: center;
}

.cards__grid_img {
    width: 100%;
}

.cards__grid_img:hover {
    cursor: pointer;
}

.card__place {
    font-size: 18px;
}

@media screen and (max-width: 1160px) {
    .card {
        display: flex;
        flex-direction: column;
        /* grid-template-columns: 500px auto; */
        /* column-gap: 70px; */
        margin-bottom: 50px;
        position: unset;
    }

    .card__text {
        position: static;
    }

}

@media screen and (max-width: 768px) {
    .card {
        width: 100%;
    }

    .card__img_link {
        /* height: 580px; */
        width: calc(100% - 20px);
        margin-left: auto;
        margin-right: auto;
        /* border: 1px solid red; */
    }

    .card__img {
        max-width: 100%;
    }

    .card__text {
        margin-left: 10px;
    }
}