.header {
    padding-top: 25px;
    margin-bottom: 25px;
    margin-left: 20px;
}

.header__line {
    height: 1px;
    background: linear-gradient(90deg, rgba(60, 63, 64, 1) 0%, rgba(32, 36, 37, 1) 100%);
}

.logo__img {
    width: 400px;
    z-index: 10;
}

@media screen and (max-width: 768px) {

    .header {
        margin-left: 10px;
    }

    .logo__img {
        width: 250px;
    }
}